@model IEnumerable<FlexEstoque.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h1 class="display-7"> Cadastro de Produtos</h1>
</div>


<div class="container py-4">
<p>
    <button type="button" class="btn btn-outline-success">
        <a asp-action="Create">Criar Novo Produto</a>
    </button>
</p>
</div>


<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CodigoProduto)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DescricaoProduto)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ValorProduto)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ValidadeProduto)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.EstoqueMinimo)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CategoriaProdutoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidadeProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstoqueMinimo)
                </td>
                <td>
                    @item.Categoria.Descricao
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary">
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    </button> |
                    <button type="button" class="btn btn-outline-info">
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </button> |
                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
