@model IEnumerable<FlexEstoque.Models.CategoriaProduto>

@{
    ViewData["Title"] = "Categoria Produto";
}

<h1 class="display-7"> Categoria Produto</h1>

<div class="container py-4">
    <p>
        <button type="button" class="btn btn-outline-success">
            <a asp-action="Create">Criar Novo</a>
        </button>
    </p>
</div>


<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary">
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    </button> |
                    <button type="button" class="btn btn-outline-info">
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </button> |
                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
